<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu App</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1 style="font-family: arial, sans-serif; color:#4BB543"> Meal chosen succesfully!</h1>
<a href="{% url 'menus:login' %}"><input type="button" value="Back"></a>
</body>
</html>