<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu App</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
</head>
<body style="align: center">
<h1 style="font-family: arial, sans-serif;"> Delete Menu</h1>
<form method="POST">
    {% csrf_token %}
    Are you sure you want to delete menu with date {{obj.menu_date}} ?
    <input type="submit" value="Yes">
    <a href="{% url 'menus:index'%}"><button type="button"> Cancel </button> </a><br><br>
</form>
</body>
</html>